# Exclude everything
*

# Except
!CMakeLists.txt
!README.md
!LICENSE.md

!.gitattributes
!.gitignore

!include/
!src/
!libs/
!tests/
!logo/
!devutils/

!include/**
!src/**
!libs/**
!tests/**
!logo/**
!devutils/amalgamate.bat
!devutils/amalgamate.exe