# Exclude everything
*

# Except
!CMakeLists.txt
!README.md
!LICENSE.md
!CODE_OF_CONDUCT.md

!.gitattributes
!.gitignore

!include/
!src/
!libs/
!tests/
!graphics/
!devutils/

!include/**
!src/**
!libs/**
!tests/**
!graphics/**
!devutils/amalgamate.bat
!devutils/amalgamate.exe
