[submodule "dependencies/cgltf"]
	path = dependencies/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "dependencies/dr_libs"]
	path = dependencies/dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "dependencies/jar"]
	path = dependencies/jar
	url = https://github.com/kd7tck/jar
[submodule "dependencies/miniaudio"]
	path = dependencies/miniaudio
	url = https://github.com/dr-soft/miniaudio
[submodule "dependencies/par"]
	path = dependencies/par
	url = https://github.com/prideout/par
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb
[submodule "dependencies/tinyobjloader-c"]
	path = dependencies/tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c
[submodule "examples/dependencies/sokol"]
	path = examples/dependencies/sokol
	url = https://github.com/floooh/sokol
